/* GENERAL */
html {
	margin: 0;
	border: 0;
	padding: 0;
	height: 100%;
}
body {
	margin: 0;
	border: 0;
	padding: 0;
	background-color: #1b1a1d;
	height: 100%;
	color: #FFFFFF;
	font-family: "Roboto Mono";
	font-size: larger;
}
/* NAV-BAR */
.nav-bar {
	margin: 0;
	padding: 0.5vw 0 0.5vw 1.5vw;
	width: 100%;
	box-sizing: border-box;
	list-style-type: none;
	background-color: #00000040;
	display: flex;
}
.nav-elem {
	margin: 0;
	display: block;
	float: left;
	padding: 8px;
}
.nav-elem :hover {
	color: #A26FF2;
}
.nav-elem.active a {
	text-decoration: none;
	color: #A26FF2
}
.nav-elem a {
	text-decoration: none;
	color: #ffffff;
}
/* PAGE CONTENT */
.content-box {
	background-color:#00000040;
	width: 94vw;
	box-sizing: border-box;
	padding: 2vw 2vw;
	margin: 3vw 3vw;
	border-radius: 2vw;
	/* text-align: center; */
}
.content-box ul {
	padding: 0vw 2vw;
}
a {
	color: #a26ff2;
}
b {
	color: #a26ff2;
}
h1 {
	text-align: center;
}
.img-pair {
	width: 89vw;
	display: block;
}
.img-pair img {
	width: 37vw;
	border-radius: 25px;
	margin-left: 5vw;
}
::selection {
	color:#a26ff2;
}