html {
	height: 100%;
}
body {
	margin: 0;
	background-image: linear-gradient(#371B58, #000000);
	height: 100%;
	color: #FFFFFF;
	font-family: "Roboto Mono";
}
a {
	text-decoration: none;
	color: #ffffff;
}
.nav-bar {
	margin: 0;
	width: 100%;
	list-style-type: none;
	background-color: #4C3575;
	display: flex;
}
.nav-elem {
	margin: 0;
	display: block;
	float:left;
	padding: 8px;
	background-color: #4C3575;
}
.nav-elem .active {
	background-color: #371B58
}
.nav-elem :hover {
	color: #7858A6;
}
