body {
	background-color: #371B58;
	color: #FFFFFF;
	font-family: "Roboto Mono";	
}
nav-bar {
	background-color: #4C3575;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
}
nav-elem {
	display: inline;
	padding: 8px;
}
nav-elem :hover {
	background-color: #7858A6;
}
